@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

.body-container{
    min-height: 100vh;
    width: 100%;
    @apply dark:bg-gray-800; 
}

.quotes{
    background-image: url(./Images/leon-wu-LLfRMRT-9AY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, .8);
    height: 72vh;
}

.flex-center{
    @apply flex flex-col items-center;
}

blockquote{
    font-family: 'Montez', cursive;
}

.quote-author{
    font-family: 'Montserrat', sans-serif;
}

button.option{
    background-color: #0f766e;
    @apply rounded px-4 py-2 text-gray-100 md:w-44 text-center;
}

button.option:hover{
    scale: 1.05;
    transition: all ease-in-out .3s;
}

@media (max-width: 400px) {
    table{
        overflow-x: scroll;
        background-color: black;
        color: white;
        width: 1rem;
    }
}

th{
    @apply dark:text-gray-200 text-gray-600;
}

th, tr, td{
    @apply p-3;
}